In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("D:\\Data Science Files\\Datasets_360\\outlier_data.csv")

In [8]:
df.head()

      data
0  0.15876
1  0.10328
2  0.34940
3  2.73397
4  0.04337

In [9]:
df.describe()

             data
count  404.000000
mean     3.730912
std      8.943922
min      0.006320
25%      0.082382
50%      0.253715
75%      4.053158
max     88.976200

In [18]:
outliers = []

def detect_outliers(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)

In [21]:
for i in df:
    z_score=(i-mean)/std
    if np.abs(z_score) > threshold:
        outliers.append(i)
return outliers

NameError: name 'mean' is not defined

In [ ]:
def

In [ ]:
plt.hist(df)